.NavBar {
    color: white;
    background-color: black;
    width: 100%; 
    margin: 0;
    padding: 2vh 4vw; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2vw; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
}

body {
    padding-top: calc(2vh + 2rem); 
}

.NavSelector {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    padding-top: 1rem;
    display: flex; 
    gap: 3rem; 
}

.NavSelector li {
    display: inline; 
}

.NavSelector li a:hover {
    background-color: gray; 
}

/* padding-top: 6.3rem; optimal padding for keeping contents under the navBar */
.NavBarGap{
    padding-top: 6.3rem;
}

.backgroundImage{
    width: 65%;
    padding: 2vh 15vw;
    z-index: 1;
    position: relative; 
}

.whiteBox{
    border-radius: 2rem;
    background-color: white;
    opacity: 90%;
    z-index: 2;
    position: absolute;
    padding: 2rem;
    top: 40%; 
    right: 25%; 
    width: 30%; 
}

.eventTitle{
    font-weight: bold;
    font-size: 1.7vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.location{
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(166, 163, 163);
    margin-top: 4%;
}

.time{
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2%;
}

.description{
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2%;
}

.join{
    margin-top: 10%;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    width: 30%;
    padding: 1vh 2vw; 
    font-size: 1vw;
    margin-left: 34%;
}